@charset "UTF-8";


/*------- Mobile First -------*/

/*
================ Everyone ================
======= Typical Device Breakpoints =======

small screen: max 600px
cellphone screen: min 600px max 768px
tablet screen: min 768px max 992px
desktop screen: min 992px max 1200px
tv screen: min 1200px

*/

:root {
    --colour00: #000000;
    --colour01: #1C0221;
    --colour02: #445E71;
    --colour03: #467599;
    --colour06: #C9F9FF;
    --colour07: #DF2935;
    --colour08: #214b6b;
}

* {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

html, body {
    background-color: var(--colour08) ;
    height: 100vh;
    width: 100vw;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login {
    background-color: var(--colour03);
    width: 290px;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);border-radius: 50px;
    overflow: hidden;
    box-shadow: 0px 0px 7px #0000007a;
    transition: width 0.7s, height 0.7s;
    transition-timing-function: ease;
    
}

div#image {
    background-image: url(../images/pexels-giallo-859890\ copy.jpg);
    display: block;
    height: 220px;
    width: 290px;
    background-size: cover;
}

div#form {
    color: var(--colour06);
    display: block;
    height: 270px;
    padding: 7px;
}

h1 {
    text-align: center;
}

p {
    padding: 7px;
}

p.pInput {
    background-color: var(--colour08);
    margin: 4px;
    border-radius: 10px;
}

div.button {
    text-align: center;
}

input {
    font-size: 17px;
    background-color: #FFFFFF;
    border: 0px;
    border-radius: 7px;
}

input.button {
    min-width: 250px;
    text-align: center;
    padding: 10px;
    margin: 5px;
}

input.button:hover {
    color: var(--colour06);
    background-color: var(--colour07);
    transition: 0.3s;
    cursor: pointer;
}