@charset "UTF-8";

body {
    background-image: linear-gradient(to top, var(--colour08), var(--colour06));
}

section#login {
    width: 80vw;
    height: 490px;
}

div#image {
    float: left;
    height: 100%;
    width: 30%;
}

div#form {
    float: right;
    height: 490px;
}

